USE [IMS]
GO
/****** Object:  View [dbo].[Vw_Attendance]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Attendance]
AS
SELECT        dbo.Attendance.student_id, dbo.Attendance.class_id, dbo.student.name, dbo.class.class, dbo.class.grade, dbo.Attendance.time AS Punch_Time, dbo.student.rfid, dbo.Attendance.date, dbo.class.attendanceIn AS In_Time, 
                         dbo.class.end_time AS Out_Time, dbo.Attendance.month, dbo.Attendance.year, dbo.class.batch, dbo.Attendance.week1, dbo.Attendance.week2, dbo.Attendance.week3, dbo.Attendance.week4, dbo.Attendance.week5, 
                         dbo.class.state
FROM            dbo.Attendance INNER JOIN
                         dbo.student ON dbo.Attendance.student_id = dbo.student.id INNER JOIN
                         dbo.class ON dbo.Attendance.class_id = dbo.class.id
GO
/****** Object:  View [dbo].[Vw_Attendance_Extra]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Attendance_Extra]
AS
SELECT        dbo.Extra_Attendance.student_id, dbo.Extra_Attendance.class_id, dbo.student.name, dbo.extra_class.class, dbo.extra_class.grade, dbo.Extra_Attendance.time AS Punch_Time, dbo.student.rfid, dbo.Extra_Attendance.date, 
                         dbo.extra_class.attendanceIn AS In_Time, dbo.extra_class.end_time AS Out_Time, dbo.Extra_Attendance.month, dbo.Extra_Attendance.year, dbo.Extra_Attendance.week1, dbo.Extra_Attendance.week2, 
                         dbo.Extra_Attendance.week3, dbo.Extra_Attendance.week4, dbo.Extra_Attendance.week5, dbo.extra_class.state
FROM            dbo.Extra_Attendance INNER JOIN
                         dbo.extra_class ON dbo.Extra_Attendance.class_id = dbo.extra_class.id INNER JOIN
                         dbo.student ON dbo.Extra_Attendance.student_id = dbo.student.id
GO
/****** Object:  View [dbo].[Vw_Dashboard_AT_Details]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Dashboard_AT_Details]
AS
/* Your modified query using UNION*/ SELECT class_id, class, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week1 ELSE 0 END) AS week1, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, 
                         GETDATE()) THEN week2 ELSE 0 END) AS week2, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week3 ELSE 0 END) AS week3, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE())
                          THEN week4 ELSE 0 END) AS week4, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week5 ELSE 0 END) AS week5
FROM            dbo.Vw_Attendance
GROUP BY class, class_id
HAVING        (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week5 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week4 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week3 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week2 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week1 ELSE 0 END) > 0)
UNION ALL
/* Query for Vw_Attendance_Extra*/ SELECT class_id, class, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week1 ELSE 0 END) AS week1, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) 
                         THEN week2 ELSE 0 END) AS week2, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week3 ELSE 0 END) AS week3, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) 
                         THEN week4 ELSE 0 END) AS week4, SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week5 ELSE 0 END) AS week5
FROM            dbo.Vw_Attendance_Extra
GROUP BY class, class_id
HAVING        (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week5 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week4 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week3 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week2 ELSE 0 END) > 0) OR
                         (SUM(CASE WHEN CONVERT(date, date) = CONVERT(date, GETDATE()) THEN week1 ELSE 0 END) > 0);
GO
/****** Object:  View [dbo].[Vw_Sum_At]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_Sum_At]
AS
SELECT        subquery.student_id, subquery.class_id, subquery.year, subquery.month, COALESCE (SUM(subquery.week1), 0) + COALESCE (SUM(subquery.week2), 0) + COALESCE (SUM(subquery.week3), 0) 
                         + COALESCE (SUM(subquery.week4), 0) + COALESCE (SUM(subquery.week5), 0) + COALESCE (SUM(dbo.Extra_Attendance.week1), 0) + COALESCE (SUM(dbo.Extra_Attendance.week2), 0) 
                         + COALESCE (SUM(dbo.Extra_Attendance.week3), 0) + COALESCE (SUM(dbo.Extra_Attendance.week4), 0) + COALESCE (SUM(dbo.Extra_Attendance.week5), 0) AS total_attendance
FROM            (SELECT        student_id, class_id, year, month, COALESCE (CAST(week1 AS INT), 0) AS week1, COALESCE (CAST(week2 AS INT), 0) AS week2, COALESCE (CAST(week3 AS INT), 0) AS week3, COALESCE (CAST(week4 AS INT), 0) 
                                                    AS week4, COALESCE (CAST(week5 AS INT), 0) AS week5
                          FROM            dbo.Attendance) AS subquery LEFT OUTER JOIN
                         dbo.Extra_Attendance ON subquery.class_id = dbo.Extra_Attendance.Link AND subquery.student_id = dbo.Extra_Attendance.student_id AND subquery.year = dbo.Extra_Attendance.year AND 
                         subquery.month = dbo.Extra_Attendance.month
GROUP BY subquery.student_id, subquery.class_id, subquery.year, subquery.month
GO
/****** Object:  View [dbo].[Vw_Sal_Class_Tree_Details]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_Sal_Class_Tree_Details]
AS
SELECT        dbo.class.teacher AS Teacher_ID, dbo.teacher.name AS Teacher_Name, dbo.Vw_Sum_At.year, dbo.Vw_Sum_At.month, dbo.Vw_Sum_At.class_id, dbo.study.class_name, SUM(CASE WHEN dbo.study.card = 'free' AND 
                         dbo.Vw_Sum_At.total_attendance >= 2 THEN 1 ELSE 0 END) AS Free_Card_Count, SUM(CASE WHEN dbo.study.card = 'half' AND (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN 1 ELSE 0 END) AS Half_Card_Count, SUM(CASE WHEN dbo.study.card = 'full' AND 
                         (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN 1 ELSE 0 END) AS Full_Card_Count, SUM(CASE WHEN dbo.study.card = 'half' AND 
                         (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN dbo.class_fees.price ELSE 0 END) AS Half_Total_Amount, 
                         SUM(CASE WHEN dbo.study.card = 'full' AND (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN dbo.class_fees.price ELSE 0 END) AS Full_Total_Amount, 
                         SUM(CASE WHEN dbo.study.card = 'half' AND (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN dbo.class_fees.price ELSE 0 END) + SUM(CASE WHEN dbo.study.card = 'full' AND 
                         (dbo.Vw_Sum_At.total_attendance >= 2 OR
                         (dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NOT NULL)) THEN dbo.class_fees.price ELSE 0 END) AS Total_Amount, 
                         SUM(CASE WHEN dbo.study.card = 'full' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NULL THEN 1 ELSE 0 END) AS FullCard_NotPaid_Count, 
                         SUM(CASE WHEN dbo.study.card = 'half' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NULL THEN 1 ELSE 0 END) AS HalfCard_NotPaid_Count, 
                         SUM(CASE WHEN dbo.study.card = 'full' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NULL THEN dbo.class_fees.price ELSE 0 END) 
                         AS Full_Card_Not_Paid_Amount, SUM(CASE WHEN dbo.study.card = 'half' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND dbo.class_fees.recept_no IS NULL 
                         THEN dbo.class_fees.price ELSE 0 END) AS Half_Card_Not_Paid_Amount, SUM(CASE WHEN dbo.study.card = 'full' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND 
                         dbo.class_fees.recept_no IS NULL THEN dbo.class_fees.price ELSE 0 END) + SUM(CASE WHEN dbo.study.card = 'half' AND dbo.Vw_Sum_At.total_attendance >= 2 AND dbo.class_fees.price IS NOT NULL AND 
                         dbo.class_fees.recept_no IS NULL THEN dbo.class_fees.price ELSE 0 END) AS Outstanding, SUM(CASE WHEN dbo.study.card = 'full' AND dbo.class_fees.recept_no IS NOT NULL THEN 1 ELSE 0 END) AS Full_Card_Paid_Count, 
                         SUM(CASE WHEN dbo.study.card = 'half' AND dbo.class_fees.recept_no IS NOT NULL THEN 1 ELSE 0 END) AS Half_Card_Paid_Count, SUM(CASE WHEN dbo.study.card = 'full' AND dbo.class_fees.recept_no IS NOT NULL 
                         THEN dbo.class_fees.price ELSE 0 END) AS Full_Card_Paid_Amount, SUM(CASE WHEN dbo.study.card = 'half' AND dbo.class_fees.recept_no IS NOT NULL THEN dbo.class_fees.price ELSE 0 END) AS Half_Card_Paid_Amount, 
                         SUM(CASE WHEN dbo.study.card = 'full' AND dbo.class_fees.recept_no IS NOT NULL THEN dbo.class_fees.price ELSE 0 END) + SUM(CASE WHEN dbo.study.card = 'half' AND dbo.class_fees.recept_no IS NOT NULL 
                         THEN dbo.class_fees.price ELSE 0 END) AS Total_Earnings, SUM(CASE WHEN dbo.Vw_Sum_At.total_attendance < 2 AND dbo.class_fees.price IS NULL AND dbo.class_fees.recept_no IS NULL THEN 1 ELSE 0 END) 
                         AS One_Day_Not_Paid
FROM            dbo.class_fees RIGHT OUTER JOIN
                         dbo.class RIGHT OUTER JOIN
                         dbo.Vw_Sum_At ON dbo.class.id = dbo.Vw_Sum_At.class_id LEFT OUTER JOIN
                         dbo.teacher ON dbo.class.teacher = dbo.teacher.id LEFT OUTER JOIN
                         dbo.study ON dbo.Vw_Sum_At.student_id = dbo.study.student_id AND dbo.Vw_Sum_At.class_id = dbo.study.class_id ON dbo.class_fees.student_id = dbo.Vw_Sum_At.student_id AND 
                         dbo.class_fees.class_id = dbo.Vw_Sum_At.class_id AND dbo.class_fees.year = dbo.Vw_Sum_At.year AND dbo.class_fees.month = dbo.Vw_Sum_At.month
GROUP BY dbo.Vw_Sum_At.class_id, dbo.study.class_name, dbo.Vw_Sum_At.year, dbo.Vw_Sum_At.month, dbo.class.teacher, dbo.teacher.name
GO
/****** Object:  View [dbo].[Vw_Salary_Cal]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_Salary_Cal]
AS
SELECT        Teacher_ID, Teacher_Name, month, year, COUNT(class_id) AS Number_Of_Class, SUM(Total_Amount) AS Total_Class_Estimates, SUM(Outstanding) AS Total_Class_Outstandings
FROM            dbo.Vw_Sal_Class_Tree_Details
GROUP BY Teacher_ID, Teacher_Name, month, year
GO
/****** Object:  View [dbo].[Vw_Extra_Study]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Extra_Study]
AS
SELECT        dbo.study.student_id, dbo.student.name AS student_name, dbo.extra_class.id AS Class_Id, dbo.extra_class.class, dbo.study.enroll_date, dbo.study.card, dbo.extra_class.link
FROM            dbo.study INNER JOIN
                         dbo.extra_class ON dbo.study.class_id = dbo.extra_class.link INNER JOIN
                         dbo.student ON dbo.study.student_id = dbo.student.id
GO
/****** Object:  View [dbo].[Vw_Study_Check]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Study_Check]
AS
SELECT     student_id, student_name, Class_Id AS class_id, class AS class_name, enroll_date, card, link
FROM         dbo.Vw_Extra_Study AS es
UNION ALL
SELECT     student_id,
                          (SELECT     name
                            FROM          dbo.student AS st
                            WHERE      (id = s.student_id)) AS student_name, class_id, class_name, enroll_date, card, NULL AS link
FROM         dbo.study AS s
GO
/****** Object:  View [dbo].[Vw_Attendance_Check]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Attendance_Check]
AS
SELECT        dbo.Vw_Study_Check.student_id, dbo.Vw_Study_Check.student_name, dbo.Vw_Study_Check.link, dbo.class.id AS class_id, dbo.class.class AS class_name, dbo.class.attendanceIn AS in_time, dbo.class.end_time AS out_time, 
                         dbo.class.day, CONVERT(VARBINARY(MAX), dbo.student.image, 1) AS image, dbo.student.rfid, dbo.class.state AS state
FROM            dbo.Vw_Study_Check INNER JOIN
                         dbo.class ON dbo.Vw_Study_Check.class_id = dbo.class.id LEFT OUTER JOIN
                         dbo.student ON dbo.Vw_Study_Check.student_id = dbo.student.id
UNION
SELECT        Vw_Study_Check_1.student_id, Vw_Study_Check_1.student_name, Vw_Study_Check_1.link, dbo.extra_class.id AS class_id, dbo.extra_class.class AS class_name, dbo.extra_class.attendanceIn, dbo.extra_class.end_time, 
                         dbo.extra_class.day, CONVERT(VARBINARY(MAX), student_1.image, 1) AS image, student_1.rfid, dbo.extra_class.state AS state
FROM            dbo.Vw_Study_Check AS Vw_Study_Check_1 INNER JOIN
                         dbo.extra_class ON Vw_Study_Check_1.class_id = dbo.extra_class.id LEFT OUTER JOIN
                         dbo.student AS student_1 ON Vw_Study_Check_1.student_id = student_1.id
GO
/****** Object:  View [dbo].[Vw_Class]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Class]
AS
SELECT     dbo.class.class, dbo.class.id, dbo.subject.subject, dbo.class.day, dbo.class.price, dbo.teacher.name, dbo.class.grade, dbo.class.batch, dbo.class.start_time, dbo.class.end_time, 
                      dbo.class.attendanceIn
FROM         dbo.class INNER JOIN
                      dbo.subject ON dbo.class.subject = dbo.subject.id INNER JOIN
                      dbo.teacher ON dbo.class.teacher = dbo.teacher.id

GO
/****** Object:  View [dbo].[Vw_ClassHoliday]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ClassHoliday]
AS
SELECT     dbo.class_holiday.id, dbo.class_holiday.class_id, dbo.class.class, dbo.class.grade, dbo.class.batch, dbo.class.teacher, dbo.class.day, dbo.class_holiday.date, dbo.class_holiday.state
FROM         dbo.class INNER JOIN
                      dbo.class_holiday ON dbo.class.id = dbo.class_holiday.class_id
GO
/****** Object:  View [dbo].[Vw_DashboardData]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Assuming 3 represents Tuesday*/
CREATE VIEW [dbo].[Vw_DashboardData]
AS
SELECT        (SELECT        COUNT(id) AS StudentCount
                          FROM            dbo.student) AS StudentCount,
                             (SELECT        COUNT(recept_no) AS TodayInvoices
                               FROM            dbo.recept
                               WHERE        (CAST(GETDATE() AS DATE) = CAST(date AS DATE))) AS TodayInvoices, ISNULL
                             ((SELECT        SUM(ammount) AS TodayCollection
                                 FROM            dbo.recept AS recept_1
                                 WHERE        (CAST(GETDATE() AS DATE) = CAST(date AS DATE))), 0) AS TodayCollection,
                             (SELECT        COUNT(id) AS LiveClassCount
                               FROM            dbo.class
                               WHERE        (DATENAME(WEEKDAY, GETDATE()) = day)) AS LiveClassCount,
                             (SELECT        COUNT(id) AS ActiveHolidays
                               FROM            dbo.class_holiday
                               WHERE        (CAST(GETDATE() AS DATE) = CAST(date AS DATE))) AS ActiveHolidays
GO
/****** Object:  View [dbo].[Vw_PendingPayment]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_PendingPayment]
AS
SELECT     dbo.class_fees.student_id, dbo.class_fees.class_id, dbo.class_fees.month, dbo.student.name AS StudentName, dbo.class.class, dbo.class.grade, dbo.class.batch, dbo.class.day, 
                      dbo.class_fees.price AS Fee, dbo.class_fees.recept_no AS RN, dbo.class_fees.year, dbo.student.contact, dbo.student.parent
FROM         dbo.class_fees INNER JOIN
                      dbo.student ON dbo.class_fees.student_id = dbo.student.id INNER JOIN
                      dbo.class ON dbo.class_fees.class_id = dbo.class.id
WHERE     (dbo.class_fees.recept_no IS NULL)
GO
/****** Object:  View [dbo].[Vw_Recept]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_Recept]
AS
SELECT        dbo.recept.recept_no, dbo.recept.student_id, dbo.recept.month, dbo.recept.date, dbo.recept.payment_method, dbo.recept.collect_by, dbo.recept.ammount, dbo.class.class, dbo.recept.class_id, dbo.student.name, dbo.class.price, 
                         dbo.class.batch, dbo.class.grade, dbo.recept.slipt_No, dbo.recept.cash_rec, dbo.recept.balance
FROM            dbo.recept LEFT OUTER JOIN
                         dbo.student ON dbo.recept.student_id = dbo.student.id LEFT OUTER JOIN
                         dbo.class ON dbo.recept.class_id = dbo.class.id
GO
/****** Object:  View [dbo].[Vw_Salary]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Salary]
AS
SELECT     dbo.Teacher_salary.Date AS Sheet_Date, dbo.Teacher_salary.Id AS Sheet_ID, dbo.Teacher_salary.teacher_id, dbo.teacher.name AS Teacher_Name, dbo.Teacher_salary.year, 
                      dbo.Teacher_salary.month, dbo.Teacher_salary.rate, dbo.Teacher_salary.calculate_by AS Calculated_By, dbo.Teacher_salary.class_count, dbo.Teacher_salary.ClassEstimated AS Class_Estimate, 
                      dbo.Teacher_salary.ClassEarnings AS Class_Earnings, dbo.Teacher_salary.ClassOutstandings AS Class_Outstandings, dbo.Teacher_salary.onInstitute AS On_Institute, 
                      dbo.Teacher_salary.InstituteProfit AS Institute_Profit, dbo.Teacher_salary.instituteCharge, dbo.Teacher_salary.Salary
FROM         dbo.Teacher_salary INNER JOIN
                      dbo.teacher ON dbo.Teacher_salary.teacher_id = dbo.teacher.id

GO
/****** Object:  View [dbo].[Vw_studyStudentList]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_studyStudentList]
AS
SELECT        dbo.study.id, dbo.student.id AS StudentID, dbo.student.name AS StudentName, dbo.class.id AS ClassID, dbo.class.class, dbo.class.day, dbo.class.grade, dbo.class.batch, dbo.study.enroll_date AS EnrollDate, 
                         dbo.subject.subject, dbo.teacher.name AS Teacher, dbo.student.contact, dbo.class.start_time AS Time, dbo.study.card, dbo.student.rfid, dbo.class.state
FROM            dbo.class INNER JOIN
                         dbo.subject ON dbo.class.subject = dbo.subject.id INNER JOIN
                         dbo.teacher ON dbo.class.teacher = dbo.teacher.id RIGHT OUTER JOIN
                         dbo.study ON dbo.class.id = dbo.study.class_id LEFT OUTER JOIN
                         dbo.student ON dbo.study.student_id = dbo.student.id
GROUP BY dbo.student.id, dbo.student.name, dbo.class.id, dbo.class.class, dbo.class.day, dbo.class.grade, dbo.class.batch, dbo.study.enroll_date, dbo.subject.subject, dbo.teacher.name, dbo.student.contact, dbo.class.start_time, 
                         dbo.study.card, dbo.study.id, dbo.student.rfid, dbo.class.state
GO
/****** Object:  View [dbo].[Vw_Web_Portal_HomePageDetailsBoxes]    Script Date: 2/20/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_Web_Portal_HomePageDetailsBoxes]
AS
SELECT        dbo.student.id AS student_id, dbo.student.name AS student_name, COALESCE (COUNT(DISTINCT dbo.study.class_id), 0) AS study_class_count, COALESCE (SUM(CASE WHEN dbo.class_fees.recept_no IS NULL 
                         THEN dbo.class_fees.price ELSE 0 END), 0) AS total_outstanding, COALESCE (SUM(CASE WHEN dbo.class_fees.recept_no IS NOT NULL THEN dbo.class_fees.price ELSE 0 END), 0) AS total_paid, 
                         COALESCE (COUNT(CASE WHEN dbo.class_fees.recept_no IS NULL THEN 1 END), 0) AS pending_payment_count
FROM            dbo.class_fees INNER JOIN
                         dbo.study ON dbo.class_fees.student_id = dbo.study.student_id AND dbo.class_fees.class_id = dbo.study.class_id INNER JOIN
                         dbo.student ON dbo.study.student_id = dbo.student.id
WHERE        (dbo.student.code <> 'student.kchord.me')
GROUP BY dbo.student.id, dbo.student.name
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[23] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[39] 4[36] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[75] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Attendance"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 316
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 22
               Left = 523
               Bottom = 284
               Right = 683
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "class"
            Begin Extent = 
               Top = 92
               Left = 283
               Bottom = 326
               Right = 443
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1365
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[41] 2[30] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance_Check'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance_Check'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Extra_Attendance"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 270
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "extra_class"
            Begin Extent = 
               Top = 85
               Left = 380
               Bottom = 333
               Right = 540
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 17
               Left = 701
               Bottom = 248
               Right = 861
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance_Extra'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Attendance_Extra'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "class"
            Begin Extent = 
               Top = 11
               Left = 40
               Bottom = 261
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "subject"
            Begin Extent = 
               Top = 15
               Left = 295
               Bottom = 251
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "teacher"
            Begin Extent = 
               Top = 35
               Left = 599
               Bottom = 247
               Right = 759
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Class'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Class'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "class"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 252
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "class_holiday"
            Begin Extent = 
               Top = 6
               Left = 304
               Bottom = 246
               Right = 464
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_ClassHoliday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_ClassHoliday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[33] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Vw_Attendance"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 203
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 14
         Column = 1440
         Alias = 2670
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 2250
         Or = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Dashboard_AT_Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Dashboard_AT_Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2295
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_DashboardData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_DashboardData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "study"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 207
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "extra_class"
            Begin Extent = 
               Top = 12
               Left = 411
               Bottom = 259
               Right = 571
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 6
               Left = 236
               Bottom = 136
               Right = 406
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2640
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Extra_Study'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Extra_Study'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[46] 4[15] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[75] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4[60] 2) )"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 9
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "class_fees"
            Begin Extent = 
               Top = 10
               Left = 294
               Bottom = 228
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 26
               Left = 735
               Bottom = 211
               Right = 895
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "class"
            Begin Extent = 
               Top = 95
               Left = 556
               Bottom = 377
               Right = 716
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      PaneHidden = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_PendingPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_PendingPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2[66] 3) )"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[65] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 1
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "recept"
            Begin Extent = 
               Top = 183
               Left = 159
               Bottom = 496
               Right = 332
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 96
               Left = 767
               Bottom = 276
               Right = 927
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "class"
            Begin Extent = 
               Top = 278
               Left = 498
               Bottom = 503
               Right = 658
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Recept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Recept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[31] 4[30] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[52] 2[17] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1[46] 3) )"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4[66] 3) )"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[75] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "class_fees"
            Begin Extent = 
               Top = 4
               Left = 1119
               Bottom = 246
               Right = 1289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Vw_Sum_At"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 168
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "teacher"
            Begin Extent = 
               Top = 201
               Left = 503
               Bottom = 406
               Right = 689
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "class"
            Begin Extent = 
               Top = 145
               Left = 260
               Bottom = 275
               Right = 446
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "study"
            Begin Extent = 
               Top = 137
               Left = 939
               Bottom = 386
               Right = 1109
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 24
         Width = 284
         Width = 855
         Width = 1380
         Width = 900
         Width = 1500
         Width = 780
         Width = 1005
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Sal_Class_Tree_Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 3495
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Sal_Class_Tree_Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Sal_Class_Tree_Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[38] 4[37] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 1
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Teacher_salary"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 300
               Right = 216
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "teacher"
            Begin Extent = 
               Top = 13
               Left = 397
               Bottom = 200
               Right = 557
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 21
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3270
         Alias = 900
         Table = 2505
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Salary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Salary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Vw_Sal_Class_Tree_Details"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 304
               Right = 297
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 2610
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Salary_Cal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Salary_Cal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Study_Check'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Study_Check'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[47] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "class"
            Begin Extent = 
               Top = 84
               Left = 460
               Bottom = 307
               Right = 620
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "subject"
            Begin Extent = 
               Top = 102
               Left = 1011
               Bottom = 277
               Right = 1171
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "teacher"
            Begin Extent = 
               Top = 6
               Left = 734
               Bottom = 227
               Right = 894
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "study"
            Begin Extent = 
               Top = 33
               Left = 236
               Bottom = 266
               Right = 396
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "student"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 196
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_studyStudentList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'e = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_studyStudentList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_studyStudentList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[13] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Extra_Attendance"
            Begin Extent = 
               Top = 17
               Left = 526
               Bottom = 316
               Right = 686
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "subquery"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Sum_At'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Sum_At'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "student"
            Begin Extent = 
               Top = 16
               Left = 50
               Bottom = 296
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "study"
            Begin Extent = 
               Top = 37
               Left = 413
               Bottom = 220
               Right = 583
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "class_fees"
            Begin Extent = 
               Top = 1
               Left = 761
               Bottom = 225
               Right = 931
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 2175
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Web_Portal_HomePageDetailsBoxes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Web_Portal_HomePageDetailsBoxes'
GO
